/* table,
td {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 10rem;
  background: grey;
  border: 1px solid #333;
} */

.table {
  border-spacing: o;
  margin: 1rem;
  background-color: #f5f5f5;
}

tr {
  background-color: #e5e5e5;
}

.table__cell {
  padding: 8px;

}
