{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title_content %}
            <title>BASE HTML</title>
        {% endblock %}
        {% block style_contant %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <table class="table">
            {% for l in line %}
                <tr>
                {% for c in col %}
                    {% if l == start_l and c == start_c %}
                        <td>START</td>
                    {% else %}
                        <td>EMPTY</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
